# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# Auth (agregar cuando se configure)
# NEXTAUTH_SECRET=
# NEXTAUTH_URL=http://localhost:3000

# Base de datos (agregar cuando se decida)
# DATABASE_URL=
